log.level: "DEBUG"

backup.on.shutdown: false
backup.time.s: 600
commit.time.s: 60
create.records.trigger: 0
index.lru.cache.size: 1
index.write.batch.size: 1
topic.lag.trigger: 100

rocks.db.backup.uri: "file:///tmp/RocksDB/ByteArraySetTest/testBackup"
rocks.db.backups.auto.rollback: true
rocks.db.backups.to.keep: 2
rocks.db.compaction.read.ahead.size: 2097152
rocks.db.log.level: "DEBUG_LEVEL"
rocks.db.max.background.compactions: 2
rocks.db.max.background.flushes: 4
rocks.db.max.subcompactions: 2
rocks.db.max.write.buffer.number: 6
rocks.db.memtable.size: 1048675
rocks.db.parallelism: 4
rocks.db.put.batch.size: 0
rocks.db.restore.mode: "when_needed"
rocks.db.uri: "file:///tmp/RocksDB/ByteArraySetTest/test"

topics:
  default:
    acks: "all"
    auto.offset.reset: "earliest"
    bootstrap.servers: "kafka:29092"
    enable.auto.commit: false
    filter.class: "com.jwplayer.southpaw.filter.TestFilter"
    group.id: "southpaw"
    max.in.flight.requests.per.connection: 1
    max.request.size: 10485760
    poll.timeout: 100
    schema.registry.url: "http://schema-registry:8081"
    topic.class: "com.jwplayer.southpaw.topic.KafkaTopic"
  DeMediaMetadata:
    client.id: "DeMediaMetadata"
    compression.type: "snappy"
    jackson.serde.class: "com.jwplayer.southpaw.json.DenormalizedRecord"
    key.serde.class: "org.apache.kafka.common.serialization.Serdes$ByteArraySerde"
    topic.name: "denormalized.media"
    value.serde.class: "com.jwplayer.southpaw.serde.JacksonSerde"
  media:
    client.id: "media"
    key.serde.class: "com.jwplayer.southpaw.serde.JsonSerde"
    topic.name: "media"
    value.serde.class: "com.jwplayer.southpaw.serde.JsonSerde"
  user_custom_params:
    client.id: "user_custom_params"
    key.serde.class: "com.jwplayer.southpaw.serde.JsonSerde"
    topic.name: "user_custom_params"
    value.serde.class: "com.jwplayer.southpaw.serde.JsonSerde"
