# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven
.classpath
.project
.settings/
dependency-reduced-pom.xml
src/main/java/com/jwplayer/southpaw/json/
target/

# Local config
conf/local.yaml
relations/

# IntelliJ
.idea/
*.iml

# jenv
*.java-version
